.white-bg {
    -fx-background-color: white;
}

.command-header {
    -fx-font-weight: bold;
    -fx-text-fill: #00001a;
}

.command-string {
    -fx-font: 11px 'monospace';
    -fx-text-fill: #00001a;
    -fx-background-color: #f2f2f2;
}

.console {
    -fx-font: 12px 'monospace';
    -fx-highlight-text-fill: #f5f5dc;
    -fx-text-fill: #f5f5dc;
}

.console .content {
    -fx-background-color: #00001a;
}

.dark-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.dialog {
    -fx-background-color: #f2f2f2;
}

.dialog-title {
    -fx-font-size: 14px;
    -fx-text-fill: #00001a;
    -fx-background-color: #e6e6ff;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-padding: 0px 0px 0px 14px;
}

.hyperlink-text {
    -fx-font: 12px 'monospace';
    -fx-underline: true;
    -fx-text-fill: #3399ff;
    -fx-cursor: 'hand';
}

.toolbox-menu {
	-fx-alignment: 'center';
	-fx-spacing: 10px;
}

.toolbox-item {
	-fx-pref-width: 200px;
}

.large-button {
	-fx-pref-height: 60px;
}

.low-profile-close {
    -fx-font: 9px 'monospace';
    -fx-cursor: 'hand';
}

.med-button {
	-fx-pref-height: 40px;
}
